body {
    font-family: 'Roboto', sans-serif;
    background-color: #3498db;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ecf0f1;
}

h1 {
    color: #3498db;
}

#questionContainer {
    margin-top: 20px;
    color: #ecf0f1;
}

#answerButtons {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #2980b9;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1d4f7a;
}

#resultDisplay {
    margin-top: 20px;
    font-weight: bold;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px;
    background-color: #e74c3c;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}

#restartBtn:hover {
    background-color: #c0392b;
}
